html
{
	background-color: white;
}

body
{
	margin: 0;
	padding: 0;
	color: rgb(58, 64, 72);
	font-family: 'GothamRounded', Roboto, -apple-system, sans-serif;
}

main
{
	padding: 0 2em;
}

.recent_post
{
	padding: 0;
	padding-bottom: 1.5em;
}

.recent_post > img
{
	width: min(100%, 500px);
	height: auto;
}
