#navWrapper
{
	width: 100%;
	margin: 0.5rem 0 2rem;
	display: flex;
	align-items: center;
}

a
{
	margin: 1rem 1.5rem;
	text-transform: uppercase;
	text-decoration: none;
	color: ${theme.colors.gray[8]};
	position: relative;
	display: inline-block;
	cursor: pointer;
}

#Nav
{
	margin-left: 3rem;
	/*Rule breaks for some reason*/
	@media screen and (max-width: 760px)
	{
		& > * {
			display: none;
		}
	}
}

#Logo, #LogoImg
{
	width: 6rem;
}