@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	src: url('Gotham-Bold.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: italic;
	font-weight: bold;
	src: url('Gotham-BoldIta.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	src: url('Gotham-Book.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: italic;
	font-weight: normal;
	src: url('Gotham-BookIta.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: 500;
	src: url('Gotham-Medium.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: italic;
	font-weight: 500;
	src: url('Gotham-MediumIta.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	src: url('Gotham-Light.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: italic;
	font-weight: normal;
	src: url('Gotham-LightIta.otf') format('opentype');
}
/*
TTF fonts
@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	src: url('Gotham-Bold.ttf') format('truetype');
}
@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	src: url('Gotham-Book.ttf') format('truetype');
}
@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	src: url('Gotham-Light.ttf') format('truetype');
}
*/
/*Styled based on google.*/
@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: 800;
	src: url('Gotham-Black.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: italic;
	font-weight: 800;
	src: url('Gotham-BlackIta.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: 200;
	src: url('Gotham-Thin.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: italic;
	font-weight: 200;
	src: url('Gotham-ThinIta.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: 900;
	src: url('Gotham-Ultra.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: italic;
	font-weight: 900;
	src: url('Gotham-UltraIta.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: 100;
	src: url('Gotham-XLight.otf') format('opentype');
}
@font-face {
	font-family: Gotham;
	font-style: italic;
	font-weight: 100;
	src: url('Gotham-XLightIta.otf') format('opentype');
}