{% extends 'base.html' %}

{% block head_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}

{% block head_css %}
{% endblock %}

{% block content %}
	<div id="location_recent_post"></div>
    <h1>Hack the Fog 2.0 live site</h1>
    <h3>Time left until hacking ends</h3>
    <p id="countdown"></p>
{% endblock %}

{% block trailing_js %}
    <script src="{{ url_for('static', filename='js/countdown.js') }}"></script>

	<script>
		var timer, delay = 500;
		timer = setInterval(function(){
		    $.ajax({
		      url: "/update_recent_posts",
		      type: "get",
		      data: null,
		      success: function(response) {
		        $("#location_recent_post").html(response);
		      },
		      error: function(xhr) {
		        //Do Something to handle error
		      }
		    });
	    }, delay);
	</script>
{% endblock %}
